name: Compress HEVC
on: push

permissions:
  contents: write

jobs:
  compress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Download from Google Drive
        run: |
          pip install gdown
          gdown "1rGfGzDoZrwxVEBTyKOo1yGJZlmATvROd" -O "PantH.mov"
      
      - name: Install ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3
      
      - name: Compress HEVC to 5MB
        run: |
          DURATION=$(ffprobe -v error -show_entries format=duration \
          -of default=noprint_wrappers=1:nokey=1 "PantH.mov")
          BITRATE=$(echo "5 * 8192 / $DURATION" | bc)
          ffmpeg -i "PantH.mov" \
          -c:v libx265 \
          -b:v ${BITRATE}k \
          -vf "scale=trunc(iw/2)*2:trunc(ih/2)*2" \
          -pix_fmt yuva420p \
          -tag:v hvc1 \
          "PantH_small.mov"
      
      - name: Commit compressed file
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add PantH_small.mov
          git commit -m "Compressed PantH to 5MB"
          git push
