name: Check WebM
on: push

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3
      
      - name: Check alpha channel
        run: |
          ffprobe -v quiet -print_format json -show_streams "KRUG webm.webm"
      
      - name: Extract PNG frames from WebM
        run: |
          mkdir -p frames
          ffmpeg -i "KRUG webm.webm" -vf "fps=30,scale=400:-1" -f image2 frames/frame%04d.png
      
      - uses: actions/upload-artifact@v4
        with:
          name: frames
          path: frames/
