name: Convert to PNG Sequence
on: push

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Download from Google Drive
        run: |
          pip install gdown
          gdown "12YTdFgk5Mm7sFVpemv2DepnW9D1yFo-O" -O "KRUG4.mov"
      
      - name: Install ffmpeg
        run: sudo apt-get install -y ffmpeg
      
      - name: Extract PNG frames
        run: |
          mkdir -p frames
          ffmpeg -i "KRUG4.mov" -vf "fps=30,scale=400:-1" -f image2 frames/frame%04d.png
      
      - uses: actions/upload-artifact@v4
        with:
          name: frames
          path: frames/
